<h1>Listing lectures</h1>

<table class="listing">
  <tr>
    <th>Name</th>
    <th>Abbreviation</th>
    <th>Term</th>
    <th>Lecturer</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @lectures.each do |lecture| %>
  <tr>
    <td><%= link_to lecture.name, lecture %></td>
    <td><%= lecture.abbreviation %></td>
    <td><%= lecture.term.name %></td>
    <td><%= lecture.lecturer.name %></td>
    <td><%= link_to image_tag("edit.gif", title: 'Edit'), edit_lecture_path(lecture) %></td>
    <td><%= link_to image_tag("delete.gif", title: 'Destroy'), lecture, confirm: 'Are you sure?', method: :delete, remote: true, class: 'delete_lecture' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Create New Lecture', new_lecture_path %>
