<p id="notice"><%= notice %></p>

<h1><%= t '.page_title' %></h1>
<ul>
  <li>
    <b><%= Lecture.human_attribute_name(:name) %>:</b>
    <%= @lecture.name %>
  </li>
  
  <li>
    <b><%= Lecture.human_attribute_name(:abbreviation) %>:</b>
    <%= @lecture.abbreviation %>
  </li>
  
  <li>
    <b><%= Lecture.human_attribute_name(:term_id) %>:</b>
    <%= @lecture.term.name %>
  </li>
  
  <li>
    <b><%= Lecture.human_attribute_name(:lecturer_id) %>:</b>
    <%= @lecture.lecturer.name %>
  </li>
</ul>

<br/>

<h2><%= t '.available_documents' %></h2>
<table class="listing">
  <tr>
    <th><%= Document.human_attribute_name(:lecture_date) %></th>
    <th><%= t '.documents' %></th>
  </tr>
  
  <% @documents_by_date.sort.each do |date, docs| %>
    <tr>
      <td><%= l(date) %></td>
      <td>
        <ul>
          <% for doc in docs %>
            <li><%= link_to doc.doc_type.name + ": " + doc.description, doc %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
</table>

<br/>

<%# link_to t('.edit'), edit_lecture_path(@lecture) %><!-- |-->
<%# link_to 'Back', lectures_path %>

