<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Dev type:</b>
  <%= @device.dev_type %>
</p>

<p>
  <b>Lock version:</b>
  <%= @device.lock_version %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
