<h1><%= t '.page_title' %></h1>
<p id="notice"><%= notice %></p>

<ul>
  <li>
    <b><%= Term.human_attribute_name(:name) %>:</b>
    <%= @term.name %>
  </li>
</ul>

<br/>

<h2><%= t '.available_courses' %></h2>
<table class="listing">
  <tr>
    <th><%= Course.human_attribute_name(:name) %></th>
  </tr>
  
  <% @courses.each do |course| %>
    <tr>
      <td>
        <%= link_to course.name, course %>
      </td>
    </tr>
  <% end %>
</table>