<h1><%= t "#{cls.name.downcase.pluralize}.index.page_title" %></h1>
<p><%= t "#{cls.name.downcase.pluralize}.index.page_intro" %></p>

<table id="<%= "#{cls.name.downcase.pluralize}_index" %>" class="listing tablesorter">
  <thead>
    <tr>
      <%= yield :table_head %>
      
      <% if local_assigns.has_key?(:is_editable) && is_editable %>
      <th><%= t "#{cls.name.downcase.pluralize}.index.edit" %></th>
      <% end %>
      
      <% if local_assigns.has_key?(:is_destroyable) && is_destroyable %>
      <th><%= t "#{cls.name.downcase.pluralize}.index.destroy" %></th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% items.each do |item| %>
    <tr>
      <%= yield item %>
      
      <% if local_assigns.has_key?(:is_editable) && is_editable %>
      <td><%= link_to image_tag("edit.gif", title: t("#{cls.name.downcase.pluralize}.index.edit")), controller: "#{cls.name.downcase.pluralize}", action: "edit", id: @course %></td>      
      <% end %>
      
      <% if local_assigns.has_key?(:is_destroyable) && is_destroyable %>
      <td><%= link_to image_tag("delete.gif", title: t("#{cls.name.downcase.pluralize}.index.destroy")), item, confirm: t("#{cls.name.downcase.pluralize}.index.destroy_confirm"), method: :delete, remote: true, class: 'delete_button' %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<% if local_assigns.has_key?(:is_creatable) && is_creatable %>
  <%= link_to t("#{cls.name.downcase.pluralize}.index.create_new"), controller: "#{cls.name.downcase.pluralize}", action: "new" %>
<% end %>