<%= form_for([@course, @document], remote: true, html: { multipart: true }) do |f| %>
<fieldset>
	<div class="field">
		<%= file_field_tag "file" %>
	</div>
	<div class="field">
		<%= f.label :date %>
		<br />
		<%= select :document, :date, options_for_select(@course.dates.map { |date| [l(date, format: :long), date] }) %>
	</div>
	<div class="field">
		<%= f.label :description %>
		<br />
		<%= f.text_field :description %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
</fieldset>
<% end %>
