<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :lecture_date %><br />
    <%= f.date_select :lecture_date %>
  </div>
  <div class="field">
    <%= f.label :doc_type_id %><br />
    <%= f.collection_select :doc_type_id, DocType.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :lecture_id %><br />
    <%= f.collection_select :lecture_id, Lecture.all, :id, :name, :prompt => true %>
  </div>
  <div class="field">
    <%= f.label :uploader_id %><br />
    <%= f.text_field :uploader_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
