<% content_for :table_head do %>
  <th><%= Document.human_attribute_name(:course_id) %></th>
  <th><%= Document.human_attribute_name(:doc_type_id) %></th>
  <th><%= Document.human_attribute_name(:course_date) %></th>
  <th><%= Document.human_attribute_name(:description) %></th>
  <th><%= Document.human_attribute_name(:uploader_id) %></th>
<% end %>

<%= render layout: 'shared/index', locals: {
    cls: Document, items: @documents, is_creatable: logged_in?, is_editable: false, is_destroyable: admin?
  } do |document| %>
  
  <td><%= document.course.name %></td>
  <td><%= document.doc_type %></td>
  <td><%= l(document.course_date) %></td>
  <td><%= link_to document.description, document %></td>
  <td><%= document.uploader_id %></td>
<% end %>