<h1>Liste der Dokumente</h1>

<table id="documents_table">
	<thead>
		<tr>
			<th>Date</th>
			<th>Description</th>
			<th>Extension</th>
			<th class="{sorter: false}"></th>
			<th class="{sorter: false}"></th>
			<th class="{sorter: false}"></th>
		</tr>
	</thead>

	<tbody>
		<% @documents.each do |document| %>
		<tr>
			<td><%= document.date %></td>
			<td><%= document.description %></td>
			<td><%= document.extension %></td>
			<td><%= link_to 'Show', course_document_path(document) %></td>
			<td><%= link_to 'Edit', edit_course_document_path(document) %></td>
			<td><%= link_to 'Destroy', course_document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<br />

<%= link_to 'New Document', new_course_document_path, id: 'new_document_button' %>
