<p id="notice"><%= notice %></p>
<h1>Showing document details</h1>

<ul>
  <li>
    <b>Description:</b>
    <%= @document.description %>
  </li>

  <li>
    <b>Lecture date:</b>
    <%= @document.lecture_date %>
  </li>

  <li>
    <b>Type:</b>
    <%= @document.doc_type.name %>
  </li>

  <li>
    <b>Lecture:</b>
    <%= @document.lecture.name %>
  </li>

  <li>
    <b>Uploader:</b>
    <%= @document.uploader_id %>
  </li>
</ul>

<br/>
<%= button_to "Download", download_document_path(@document), method: :get %>
<br/>

<%# link_to 'Edit', edit_document_path(@document) %><!-- |-->
<%# link_to 'Back', documents_path %>
