<p id="notice"><%= notice %></p>

<p>
  <b>Course:</b>
  <%= @document.course %>
</p>

<p>
  <b>Description:</b>
  <%= @document.description %>
</p>

<p>
  <b>Date:</b>
  <%= @document.date %>
</p>

<p>
  <b>User:</b>
  <%= @document.user_id %>
</p>

<p>
  <b>Extension:</b>
  <%= @document.extension %>
</p>


<%#= link_to 'Edit', edit_document_path(@document) %> |
<%#= link_to 'Back', documents_path %>
