<p id="notice"><%= notice %></p>
<h1><%= t '.page_title' %></h1>

<ul>
  <li>
    <b><%= Document.human_attribute_name(:description) %>:</b>
    <%= @document.description %>
  </li>

  <li>
    <b><%= Document.human_attribute_name(:lecture_date) %>:</b>
    <%= l(@document.lecture_date) %>
  </li>

  <li>
    <b><%= Document.human_attribute_name(:doc_type_id) %>:</b>
    <%= @document.doc_type.name %>
  </li>

  <li>
    <b><%= Document.human_attribute_name(:lecture_id) %>:</b>
    <%= @document.lecture.name %>
  </li>

  <li>
    <b><%= Document.human_attribute_name(:uploader_id) %>:</b>
    <%= @document.uploader_id %>
  </li>
</ul>

<br/>
<%= button_to "Download", download_document_path(@document), method: :get %>
<br/>

<%# link_to 'Edit', edit_document_path(@document) %><!-- |-->
<%# link_to 'Back', documents_path %>
