<!--
Platzhalter f체r den Kalender des gerade angemeldeten Benutzers, sodass er schnell
einen Zeitraum f체r die Reservierung ausw채hlen kann.
-->
<p style="background: red;">Platzhalter f체r Kalender</p>

<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time_from %><br />
    <%= f.text_field :time_from %>
  </div>
  <div class="field">
    <%= f.label :time_to %><br />
    <%= f.text_field :time_to %>
  </div>
  <div class="field">
    <%= f.label :device %><br />
    <%= f.collection_select :device_id, Device.all, :id, :name, :prompt => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
