<h1>Listing dev_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lock version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dev_types.each do |dev_type| %>
  <tr>
    <td><%= dev_type.name %></td>
    <td><%= dev_type.lock_version %></td>
    <td><%= link_to 'Show', dev_type %></td>
    <td><%= link_to 'Edit', edit_dev_type_path(dev_type) %></td>
    <td><%= link_to 'Destroy', dev_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dev type', new_dev_type_path %>
