<h1><%= t '.page_title' %></h1>

<table class="listing">
  <tr>
    <th><%= DevType.human_attribute_name(:name) %></th>
    <th><%= t '.edit' %></th>
    <th><%= t '.destroy' %></th>
  </tr>

<% @dev_types.each do |dev_type| %>
  <tr>
    <td><%= dev_type.name %></td>
    <td><%= link_to image_tag("edit.gif", title: t('.edit')), edit_dev_type_path(dev_type) %></td>
    <td><%= link_to image_tag("delete.gif", title: t('.destroy')), dev_type, confirm: t('.destroy_confirm'), method: :delete, remote: true, class: 'delete_button' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dev type', new_dev_type_path %>
