<h1><%= t '.page_title' %></h1>
<p id="notice"><%= notice %></p>

<ul>
  <li>
    <b><%= Lecturer.human_attribute_name(:name) %>:</b>
    <%= @lecturer.name %>
  </li>
</ul>

<br/>

<h2><%= t '.courses' %></h2>
<table id="lecturer_courses" class="listing tablesorter">
  <thead>
    <tr>
      <th><%= Course.human_attribute_name(:term_id) %></th>
      <th><%= Course.human_attribute_name(:name) %></th>
      <th><%= Course.human_attribute_name(:abbreviation) %></th>
    </tr>
  </thead>
  
  <tbody>
    <% @lecturer.courses.each do |course| %>
    <tr>
      <td><%= course.term.name %></td>
      <td><%= link_to course.name, course %></td>
      <td><%= course.abbreviation %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br/>

<% if admin? %>
  <%= link_to t('.edit'), edit_lecturer_path(@lecturer) %>
<% end %>
