<p id="notice"><%= notice %></p>

<h1>Showing lecturer details</h1>
<ul>
  <li>
    <b>Name:</b>
    <%= @lecturer.name %>
  </li>
</ul>

<br/>

<h2>Lectures</h2>
<table class="listing">
  <tr>
    <th>Name</th>
    <th>Term</th>
  </tr>
  
  <% @lecturer.lectures.each do |lecture| %>
    <tr>
      <td><%= link_to lecture.name, lecture %></td>
      <td><%= lecture.term.name %></td>
    </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Edit', edit_lecturer_path(@lecturer) %><!-- |-->
<%# link_to 'Back', lecturers_path %>
