<%= form_for([:admin, @course], remote: true) do |f| %>
<fieldset>
	<div class="field">
		<%= f.label :id, "TUMonline-courseID" %>
		<br />
		<%= f.text_field :id, readonly: @course.id %>
	</div>
	<div class="field">
		<%= f.label :visible_to_all, "Für alle sichtbar" %>
		<br />
		<%= f.check_box :visible_to_all %>
	</div>
</fieldset>
<% end %>
