<h1>Details zur Veranstaltung</h1>

<ul>
	<li>
		<b>TUMonline-courseID:</b>
		<%= @course.id %>
	</li>
	<li>
		<b>Veranstaltungsname:</b>
		<%= @course.name %>
	</li>
	
	<li>
		<b>Semester:</b>
		<%= @course.teaching_term %>
	</li>
	
	<li>
		<b>Vortragende:</b>
		<ul>
			<% @course.lecturers.each do |le| %>
			<li><%= le %></li>
			<% end %>
		</ul>
	</li>
		
	<li>
	  <b>Für alle sichtbar:</b>
	  <%= @course.visible_to_all %>
	</li>
</ul>