<!DOCTYPE html>
<html>
	<head>
		<title>Edubay</title>
		
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= auto_discovery_link_tag(:rss, {controller: "documents", action: "feed"}) %>
	</head>
	
	<body>
		<!-- display with decoration -->
		<div id="visual-portal-wrapper">
			<div id="portal-top">
				<h1 style=""><a href="http://portal.mytum.de/welcome?current_group=home">Technische Universität München</a></h1>
				<h2 style="">Headerimage</h2>
				<h3 style="position:absolute; z-index:222; left:197px; height:117px; width:100%; margin:0; background:url(<%= asset_path 'zeichnung.gif' %>) no-repeat;">Zeichnung</h3>
				<h4 style="float:right; height:117px; margin:0; width:177px; z-index:333; background:url(<%= asset_path 'header_foto.jpg' %>)  no-repeat;">Headerfoto</h4>
				<h5 id="claim_de">Slogan TUM fuer Deutsche Sprache</h5>
			</div>
			
			<div id="portal-personaltools">
				<!-- user_actions (category: user)-->
				Sie sind nicht angemeldet.
				
				<a href="">
					<%= image_tag "login.gif", height: 16, border: 0 %>
					Login
				</a>
				
				<!-- user_links (category: user_links) -->
				<!-- new style dropdown for subgrouped actions-->
				&nbsp;&nbsp;&nbsp;|
				
				<div class="actions_submenu inline_block_fix">
					<span class="actions_submenu_title">
						<%= image_tag "dropdown.gif", height: 16, border: 0 %>
						<span>Support</span>
					</span>
					
					<ul>
						<li>
							<a id="login" href="">
								<%= image_tag "help.gif", height: 16, border: 0 %>
								Hilfe
							</a>
						</li>
						
						<li>
							<a id="login" href="">
								<%= image_tag "documentation.gif", height: 16, border: 0 %>
								Documentation
							</a>
						</li>
					</ul>
				</div>
				
				<!--  old style for ungrouped -->
				<!-- language selector  We need to replace this later and set it by method -->
				<!--<div id="language_switch">
				<form name="chooser" method="post" action="">
				<a class="selected_language"
				href="">Deutsch</a>
				<a href="http://portal.mytum.de/welcome/document_view?set_language=en">English</a>
				</form>
				</div>-->
				<div id="language_switch">
					<div class="actions_submenu inline_block_fix">
						<span class="actions_submenu_title">
							<%= image_tag "dropdown.gif", height: 16, border: 0 %>
							<span>Select Language</span>
						</span>
						
						<ul>
							<li>
								<%= link_to "Deutsch", url_for(locale: 'de'), id: 'german' %>
							</li>
							
							<li>
								<%= link_to "English", url_for(locale: 'en'), id: 'english' %>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="row_blank"></div>
			
			<table id="layouttable">
				<tr>
					<!-- linker Portlet-Bereich Start -->
					<td id="portal-column-one">
						<!-- sticky portlets left--><!-- standard portlets -->
						<span>
							<div class="portlet">
								<h3>Links</h3>
								
								<span>
									<h3 id="navigationheading" class="access_aural">Navigation</h3>
									<%= render_navigation %>
								</span>
							</div>
						</span>
						
						<span>
							<div class="portlet_no_box">
								<div style="padding: 0px; margin-top:20px;">
									<a target="blank" href="http://www.exzellente-lehre.de/index.html">
										<img src="http://portal.mytum.de/ccc/banner/exzellente_lehre" border="0"/>
									</a>
								</div>
							</div>
						</span>
					</td>
					<!-- linker Portlet-Bereich Ende -->
					
					<!-- Inhalts-Bereich Start -->
					<td id="portal-column-content">
						<div class="contentBox" id="content">
							<!-- Eigentlicher Inhalt: Start -->
							<div class="document">
								<!-- THE CONTENT -->
								<div id="maincontentwrapper">
									<div class="documentBody">
										<%= yield %>
									</div>
								</div>
							</div>
						</div>
					</td>
          <!-- Inhalts-Bereich Ende -->

          <!-- rechter Portlet-Bereich Start -->
          <td id="portal-column-two">
            <span>
              <div class="portlet">
                <h3>Banner Rechte Seite</h3>
                <div>
                  <div style="margin-top: 4px;">
                    <%= image_tag "facebook_youtube.gif", usemap: "#Map", width: 176, border: 0 %>
                    <map id="Map" name="Map">
                      <area shape="RECT" target="_blank" alt="Zum Youtube-Kanal der TUM" coords="122,1,178,27" href="http://www.youtube.com/user/TUMuenchen1">
                      <area shape="RECT" target="_blank" alt="Zur Facebook-Seite der TUM" coords="1,2,87,26" href="http://www.facebook.com/TU.Muenchen">
                      <area shape="RECT" target="_blank" alt="Zur Twitter-Seite der TUM" coords="91,1,118,26" href="http://www.twitter.com/TU_Muenchen">
                    </map>
                  </div>
                </div>
              </div>
            </span>

            <span>
              <div class="portlet_no_box">
                <!-- portlet_personalnews start -->
                <div class="portlet_personalnews">
                  <h3>Aktuelles</h3>
                  <!--<span>
                    <h4 class="boxDetails">21.12.2011</h4> 
                    <p class="boxNavHeadline">
                      <img alt="" width="16" height="16" src="http://portal.mytum.de/newsarticle_icon.gif" />
                      <a href="/pressestelle/meldungen/NewsArticle_20111220_205717">TUM-Twoinone war ein großer Erfolg</a>
                    </p>
                  </span>

                  <span>         
                    <h4 class="boxDetails">13.12.2011</h4> 
                      <p class="boxNavHeadline">
                        <img alt="" width="16" height="16" src="/TUM_Portal/favicon.ico" />
                        <a href="/pressestelle/pressemitteilungen/NewsArticle_20111213_144615">TU München steht zu Studienbeiträgen</a>
                      </p>
                  </span>-->

                  <h3>
                    <%= link_to image_tag("rssicon.jpeg", align: "top", style: "display: inline;", class: "icon", border: 0) + " RSS", feed_documents_url %>
                  </h3>
                </div>
                <!-- portlet_personalnews end -->
              </div>
            </span>

            <!--<span>
              <div class="portlet">
                <h3>Termine heute</h3>-->
                <!-- portlet_todaysnews_new start -->
                <!--<div class="portlet_personalnews" id="portlet_todaysevents">
                  <h3>Termine heute</h3>
                  <h4 class="boxDetails">17:00 - 18:30</h4>
                  <p class="boxNavHeadline">
                    <a href="/termine/Event.2011-10-19.3429384449">Small Satellites at Surrey &amp; Future Distributed Satellite Systems</a>
                    <br />
                    (Vortrag)
                  </p>
                  <a href="/termine/calendar_view">Veranstaltungskalender</a>
                </div>-->
                <!-- portlet_todaysnews_new end -->
              <!--</div>
            </span>-->
          </td>
          <!-- rechter Portlet-Bereich Ende -->
        </tr>
			</table>
			
			<div id="footer">
    	  <span class="footer_left">&copy;&nbsp;TUM 2003-2011,
    	   	<a href="">TU M&uuml;nchen, WWW & Online Services</a>
    	  </span>

	      <span class="footer_right">
	        <a href="">Impressum</a>
	      	&nbsp;
	      	<a href="">About</a>
	      </span>
      </div>
		</div>
	</body>
</html>
