<!doctype html>
<html>
	<head>
		<title>Edubay</title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= yield :head %>
	</head>

	<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
		<!-- display with decoration -->
		<div id="visual-portal-wrapper">
			<%= render 'layouts/header' %>

			<div id="portal-personaltools">
				<% if logged_in? %>
					<%= current_user.name %>
					<%= link_to signout_path do %>
						<%= image_tag "login.gif", height: 16, border: 0 %>
						Abmelden
					<% end %>
				<% else %>
					Sie sind nicht angemeldet.
					<%= link_to "/auth/shibboleth" do %>
						<%= image_tag "login.gif", height: 16, border: 0 %>
						Login
					<% end %>
				<% end %>

				<!-- user_links (category: user_links) -->
				<!-- new style dropdown for subgrouped actions-->
				<!--&nbsp;&nbsp;&nbsp;|

				<div class="actions_submenu inline_block_fix">
					<span class="actions_submenu_title"> <%= image_tag "dropdown.gif", height: 16, border: 0 %> <span>Support</span> </span>

					<ul>
						<li>
							<a id="login" href=""> <%= image_tag "help.gif", height: 16, border: 0 %>
							Hilfe </a>
						</li>

						<li>
							<a id="login" href=""> <%= image_tag "documentation.gif", height: 16, border: 0 %>
							Documentation </a>
						</li>
					</ul>
				</div>
				-->
				<!--  old style for ungrouped -->
				<!-- language selector  We need to replace this later and set it by method -->
				<!--<div id="language_switch">
				<form name="chooser" method="post" action="">
				<a class="selected_language"
				href="">Deutsch</a>
				<a href="http://portal.mytum.de/welcome/document_view?set_language=en">English</a>
				</form>
				</div>-->
				<!--<div id="language_switch">
					<div class="actions_submenu inline_block_fix">
						<span class="actions_submenu_title"> <%#= image_tag "dropdown.gif", height: 16, border: 0 %> <span>Select Language</span> </span>

						<ul>
							<li>
								<%#= link_to "Deutsch", url_for(locale: 'de'), id: 'german' %>
							</li>

							<li>
								<%#= link_to "English", url_for(locale: 'en'), id: 'english' %>
							</li>
						</ul>
					</div>
				</div>-->
			</div>

			<div class="row_blank"></div>

			<table id="layouttable">
				<tr>
					<!-- linker Portlet-Bereich -->
					<%= render 'layouts/navigation' %>

					<!-- Inhalts-Bereich Start -->
					<td id="portal-column-content">
						<div class="contentBox" id="content">
							<div class="document">
								<div id="maincontentwrapper">
									<noscript>
										<p class="error">
											<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
											Achtung, für einige der Funktionen dieser Website muss Javascript aktiviert sein!
										</p>
									</noscript>
	
									<% if flash[:notice] %>
									<p class="notice">
										<span class="ui-icon ui-icon-info" style="float: left; margin: 0 7px 20px 0;"></span>
										<%= flash[:notice] %>
									</p>
									<% end %>
									
									<% if flash[:error] %>
									<p class="error">
										<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span>
										<%= flash[:error] %>
									</p>
									<% end %>
									
									<%# clear flash messages after every render / redirect %>
									<% flash[:notice] = flash[:error] = nil %>
	
									<div class="documentBody">
										<%= yield %>
									</div>
								</div>
							</div>
						</div>
					</td>
					<!-- Inhalts-Bereich Ende -->

					<!-- rechter Portlet-Bereich -->
					<!--%= render 'layouts/rightColumn' %-->
				</tr>
			</table>

			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
